html, body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto 1fr auto;
}

header {
    grid-area: header;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 16rem;
    background-color: #0e2b59;
    color: #FFF;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

footer {
    grid-area: footer;
    background-color: #0e2b59;
    color: #FFF;
}

h1 {
    text-align: center;
}

footer > p {
    text-align: center;
}

.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-button > svg {
    fill: #FFF;
}

h3 {
    text-align: center;
}

.hidden {
    display: none;
}

aside {
    position: fixed;
    height: 100%;
    width: 20%;
    right: 0px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 2px #000;
    color: #444;
}

.settings-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 10px;
}

.close-button > svg {
    fill: #444;
}

.close-button:hover {
    cursor: pointer;
}

section:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

form {
    width: 30%;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

#location {
    border: none;
    font-size: 1.2rem;
    width: 100%;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
}

.search-button > svg {
    fill: #888;
}

#location:focus {
    border: none;
    outline: none;
}

.active {
    border: 2px solid #0e2b59;
}

#active-button {
    fill: #0e2b59;
}