html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: header;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 16rem;
  background-color: #0e2b59;
  color: #fff;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  background-color: #f4f8ff;
}

footer {
  grid-area: footer;
  background-color: #0e2b59;
  color: #fff;
}

h1 {
  text-align: center;
}

footer > p {
  text-align: center;
}

.menu-button:hover {
  cursor: pointer;
}

.menu-button > svg {
  fill: #fff;
}

h3 {
  text-align: center;
}

.hidden {
  display: none;
}

aside {
  position: fixed;
  height: 100%;
  width: 20%;
  right: 0px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 2px #000;
  color: #222;
}

.settings-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.close-settings-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 22px;
  right: 10px;
}

.close-settings-button > svg {
  fill: #444;
}

.close-settings-button:hover {
  cursor: pointer;
}

section:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  box-shadow: 0px 0px 4px #0e2b59;
  margin-bottom: 34px;
  background-color: #ebf1ff;
}

form {
  width: 30%;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: white;
}

#location {
  border: none;
  font-size: 1.2rem;
  width: 100%;
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
}

.search-button > svg {
  fill: #888;
}

.search-button:hover {
  cursor: pointer;
}

#location:focus {
  border: none;
  outline: none;
}

.active {
  border: 2px solid #0e2b59;
}

#active-button {
  fill: #0e2b59;
}

.temperature-settings {
  padding-left: 26px;
  width: 84%;
}

.temperature-settings h3 {
  text-align: start;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-left: 12px;
}

.settings-header > h3 {
  font-size: 1.4rem;
}

.temperature-settings p {
  font-size: 1rem;
  padding: 4px 0px 4px 16px;
  width: 50%;
  margin: 0;
  color: #666;
}

.temperature-settings p:hover {
  cursor: pointer;
  color: #000;
}

.tick-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tick-box > svg {
  height: 16px;
  width: 16px;
  fill: #ddd;
}

.temperature {
  display: flex;
  margin: 6px 0px;
}

#active-setting {
  fill: #0e2b59;
}

section:nth-child(2) {
  display: flex;
  margin-bottom: 50px;
  gap: 40px;
  padding: 0px 60px;
}

.current-weather-container {
  border: 1px solid #ccc;
  width: 34%;
  border-radius: 10px;
}

.current-weather-header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.current-weather-info {
  min-height: 200px;
}

.current-weather-heading {
  padding-left: 16px;
}

.current-time {
  padding-right: 16px;
}

.hourly-weather-container {
  border: 1px solid #ccc;
  width: 60%;
  border-radius: 10px;
}

.hourly-weather-header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.hourly-weather-info {
  min-height: 200px;
}

.hourly-weather-header > div:nth-child(1) {
  padding-left: 16px;
}

.hourly-weather-header > div:nth-child(2) {
  padding-right: 16px;
}

.weekly-weather-container {
  border: 1px solid #ccc;
  width: 34%;
  border-radius: 10px;
}

.weekly-weather-header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.weekly-weather-info {
  min-height: 600px;
}

section:nth-child(3) {
  margin-bottom: 50px;
  padding: 0px 60px;
}

.weekly-weather-header > div:nth-child(1) {
  padding-left: 16px;
}

.weekly-weather-header > div:nth-child(2) {
  padding-right: 16px;
}

section > div {
  background-color: #fff;
}
